In [25]:
import pandas as pd
import numpy as np
import csv

In [33]:
measure_cols = {
        'HEIGHT W/O SHOES': 'height',
        'STANDING REACH': 'standing_reach',
        'WINGSPAN': 'wingspan'
    }

def ft_to_cm(x, year) :
    if not pd.isna(x) :
        if year not in [2020, 2021] :
            if ' ' in x :
                ft, inch = x.split(' ')
                ft = int(ft.strip("'"))
                inch = float(inch.strip("'"))
                return round(2.54 * (12 * ft + inch), 2)
            else :
                return np.nan
        else:
            ft, inch = x.split("'")
            ft = int(ft)
            inch = float(inch.strip("'"))
            return round(2.54 * (12 * ft + inch), 2)
    else :
        return np.nan

In [34]:
for year in np.arange(2020, 2022) :

    with open(f'report_{year}.txt', 'r') as f :
        table_str = f.read()

    lines = table_str.replace('\t', ',').splitlines()

    with open('temp.csv', 'w', newline='') as csvfile :
        writer = csv.writer(csvfile)
        for line in lines :
            writer.writerow(line.split(','))

    data = pd.read_csv('temp.csv')
    for col in measure_cols.keys() :
        data[col] = data[col].apply(lambda x: ft_to_cm(x, year))
    data = data.rename(columns =  {'PLAYER': 'name'} | measure_cols)[['name'] + list(measure_cols.values())]
    data.insert(1, 'Year', year)

    # data.to_csv('../combine_anthro.csv', index = None, header = None, mode = 'a')

ValueError: too many values to unpack (expected 2)

In [30]:
pd.read_csv('temp.csv')

,PLAYER,POS,BODY FAT %,HAND LENGTH (inches),HAND WIDTH (inches),HEIGHT W/O SHOES,HEIGHT W/ SHOES,STANDING REACH,WEIGHT (LBS),WINGSPAN
0,Max Abmas,PG,5.50%,8.00,7.75,5'10.5'',5'11.75'',7'10.0'',161.8,6'1.75''
1,Ochai Agbaji,SG,4.15%,9.00,8.75,6'4.5'',6'5.5'',8'7.5'',214.4,6'10.0''
2,Marcus Bagley,SF,7.50%,8.75,8.50,6'6.0'',6'7.75'',8'6.5'',216.8,6'11.0''
3,Scottie Barnes,SF,5.30%,9.25,10.25,6'7.0'',6'8.0'',9'0.0'',225.4,7'2.75''
4,Charles Bassey,C,5.90%,9.00,9.50,6'9.25'',6'10.25'',8'11.5'',230.2,7'3.0''
...,...,...,...,...,...,...,...,...,...,...
60,Aaron Wiggins,SG-SF,5.00%,8.75,8.50,6'4.5'',6'5.0'',8'7.0'',190.0,6'9.75''
61,Ziaire Williams,SF,4.40%,9.00,8.75,6'8.25'',6'9.75'',8'10.5'',188.4,6'10.25''
62,Moses Wright,PF,5.60%,9.00,9.50,6'7.75'',6'9.0'',8'11.0'',225.8,7'0.75''
63,McKinley Wright IV,PG,6.70%,8.50,9.00,5'11.25'',6'0.25'',7'10.0'',192.2,6'5.25''
64,Marcus Zegarowski,PG,7.20%,8.00,9.50,6'0.75'',6'2.0'',8'0.0'',180.8,6'2.75''