In [12]:
import pandas as pd
import numpy as np
import csv

In [13]:
measure_cols = {
        'HEIGHT W/O SHOES': 'height',
        'STANDING REACH': 'standing_reach',
        'WINGSPAN': 'wingspan'
    }

def ft_to_cm(x, year) :
    if not pd.isna(x) :
        if year not in [2020, 2021] :
            if ' ' in x :
                ft, inch = x.split(' ')
                ft = int(ft.strip("'"))
                inch = float(inch.strip("'"))
                return round(2.54 * (12 * ft + inch), 2)
            else :
                return np.nan
        else:
            ft, inch, _, _ = x.split("'")
            ft = int(ft)
            inch = float(inch.strip("'"))
            return round(2.54 * (12 * ft + inch), 2)
    else :
        return np.nan

In [14]:
for year in np.arange(2003, 2025) :

    with open(f'report_{year}.txt', 'r') as f :
        table_str = f.read()

    lines = table_str.replace('\t', ',').splitlines()

    with open('temp.csv', 'w', newline='') as csvfile :
        writer = csv.writer(csvfile)
        for line in lines :
            writer.writerow(line.split(','))

    data = pd.read_csv('temp.csv')
    for col in measure_cols.keys() :
        data[col] = data[col].apply(lambda x: ft_to_cm(x, year))
    data = data.rename(columns =  {'PLAYER': 'name'} | measure_cols)[['name'] + list(measure_cols.values())]
    data.insert(1, 'Year', year)

    data.to_csv('../combine_anthro.csv', index = None, header = None, mode = 'a')

In [37]:
# Keep most recent record
meas = pd.read_csv('../combine_anthro.csv')
meas = meas[
    meas.groupby('name')['Year'].transform('max')
    == meas['Year']
]

meas.to_csv('../combine_anthro.csv', index = None)

In [38]:
meas

                   name  Year  height  standing_reach  wingspan
0     Aloysius Anagonye  2003  200.03          269.24    219.71
1         Rick Anderson  2003  203.84          270.51    210.82
2       Carmelo Anthony  2003  198.75          267.97    213.36
3        Jerome Beasley  2003  205.74          271.78    214.63
4             Troy Bell  2003  183.52          247.65    195.58
...                 ...   ...     ...             ...       ...
1429     Ja'Kobe Walter  2024  193.68          260.35    208.28
1430        Kel'el Ware  2024  212.72          285.75    224.79
1431      Jamir Watkins  2024  195.58          264.16    210.19
1432       Jaylen Wells  2024  199.39          262.89    201.30
1433      Cody Williams  2024  199.39          261.62    215.90

[1387 rows x 5 columns]

In [ ]:
from

In [39]:
metadata = pd.read_csv('../player_metadata.csv')

In [40]:
metadata

,player_id,name,name_norm,Team,rating,insert_timestamp_utc
0,jokicni01,Nikola Jokić,nikola jokic,DEN,97.0,2024-12-19 14:15:40.054571+00:00
1,antetgi01,Giannis Antetokounmpo,giannis antetokounmpo,MIL,97.0,2024-12-19 14:15:40.054571+00:00
2,doncilu01,Luka Dončić,luka doncic,DAL,97.0,2024-12-19 14:15:40.054571+00:00
3,gilgesh01,Shai Gilgeous-Alexander,shai gilgeousalexander,OKC,96.0,2024-12-19 14:15:40.054571+00:00
4,embiijo01,Joel Embiid,joel embiid,PHI,96.0,2024-12-19 14:15:40.054571+00:00
...,...,...,...,...,...,...
499,martija02,Jaylen Martin,jaylen martin,BRK,67.0,2024-12-19 14:15:40.054571+00:00
500,flaglad01,Adam Flagler,adam flagler,OKC,67.0,2024-12-19 14:15:40.054571+00:00
501,queentr01,Trevelin Queen,trevelin queen,ORL,67.0,2024-12-19 14:15:40.054571+00:00
502,toppija01,Jacob Toppin,jacob toppin,NYK,67.0,2024-12-19 14:15:40.054571+00:00
503,swideco01,Cole Swider,cole swider,DET,67.0,2024-12-19 14:15:40.054571+00:00